.App {
  text-align: center;
}
.search{
  padding: 10px;
  font-size: 18px;
}

.filter{
  list-style-type: none;
  display: flex;
  margin: auto;
  margin-top: 30px;
  width: 30%;
}

li{
  border: 1px solid rgba(113, 213, 216, 0.904);
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
}

li:hover{
  background-color: rgba(113, 213, 216, 0.904);
  border: 1px solid black;
}

.group{
  display: flex;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 30px;
  width: 40%;
  
}

.first{
  text-align: start;
  border: 1px solid grey;
  padding: 10px;
  margin: 15px 15px 0px 0px;
}

.second{
  text-align: start;
  border: 1px solid grey;
  padding: 8px;
  margin-top: 15px;
  padding-right: 40%;
}

.fill{
  font-size: 18px;
  font-weight: bold;
}